.bonus-round {
  background-color: darkgreen;
  color: white;
  font-family: $bodyfont;
  font-size: $boardDescription;
  position: absolute;
  right: 15%;
  text-align: center;
  top: 15%;
  width: 75%;
  z-index: 5;

  button {
    background-color: magenta;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    padding: 5px;
  }
}

.popup {
  display: none;
}

.bonus-input {
  margin: 1rem;
  width: 5rem;
}

.bonus-vowel {
  border-radius: 15px;
  height: 2.5rem;
  margin: .5rem;
  padding: 10px;
  width: 2.5rem;
}

.bonus-submit {
  border-radius: 15px;
  height: 2.5rem;
  margin: .5rem;
  padding: 10px;
}