* {
  border: 1px dotted black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

body {
  background-image: url(../images/bg.png);
  background-size: cover;
}

main {
  background-color: $board;
  height: 40vh;
  display: flex;

  .category {
    font-size: $boardCategory;
    display: inline-block;
    height: 10%;
  }

  .word-box {
    height: 60%;
  }

  .description {
    font-size: $boardDescription;
    height: 10%;
  }

  section {
    flex: 2;
    font-family: $bodyfont;
    text-align: center;
  }

  aside {
    flex: 1;
  }

}

.game-page {
  display: none;
}

.player-section {
  visibility: hidden;
}

header {
  text-align: center;
}

.splash {
  color: white;
  font-family: $bodyfont;
  font-size: 2rem;
  height: 100vh;
  text-align: center;
  width: 100vw;
  z-index: 15;

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 4rem;
  }

  input {
    border-radius: 10px;
    font-size: 2rem;
    height: 3.5rem;
    padding-left: 5px;
    width: 15rem;
  }

  button {
    border-radius: 25px;
    font-family: $bodyfont;
    font-size: 2rem;
    height: 3rem;
    width: 15rem;
    &:hover {
      background-color: $btn;
      border: 3px solid white;
    }
  }
}