* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 2px solid $board;
  }
}

body {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
}

main {
  background-color: $board;
  min-height: 50vh;
  display: flex;

  section {
    flex: 2;
    font-family: $bodyfont;
    text-align: center;
    position: relative;

    .category {
      font-size: $boardCategory;
      display: inline-block;
      height: 10%;
    }

    .word-box {
      height: 65%;
    }

    .description {
      font-size: $boardDescription;
      height: 10%;
    }

    .spin-pop-up {
      position: absolute;
      font-family: $bodyfont;
      justify-content: center;
      width: 100%;
      font-size: 2rem;
      height: 60px;
      display: flex;
      bottom: 0;

      button, input {
        animation: bounce-right 0.8s both;
      }
        
      .check-btn {
        background-color: $btn;
        font-size: 1rem;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100px;
        display: none;
        
        &:hover {
          background-color: $player;
          box-shadow: .5rem 1rem 1.5rem .5rem $board;
        }
      }

      .ltr-input {
        width: 4rem;
        font-size: 1.5rem;
        text-align: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: none;
      }

      .input-solve {
        border-radius: 20px 0 0 20px;
        font-size: 1.5rem;
        text-align: center;
      }

      .final-solution-btn {
        border-radius: 0 20px 20px 0;
        background-color: $btn;
        font-size: 1rem;
        display: none;
        width: 100px;
      }

      .vowels-to-buy {
        padding: 0 5px;
        button {
          background-color: $board;
          border: 1px solid black;
          border-radius: 25px;
          font-family: $bodyfont;
          font-size: $boardDescription;
          height: 3rem;
          width: 5rem;
        }
      }

      .input-solve {
        display: none;
      }

      .vowels-to-buy {
        display: none;
      }
    }
    .feedback {
      display: block;
      font-size: 2rem;
      margin: 0 auto;
    }
  }

  aside {
    flex: 1;

    div {
      button {
        animation: bounce-right 0.8s both;
      }
    }
  }

}

.game-page {
  display: none;
}

.player-section {
  visibility: hidden;
}

.splash {
  color: white;
  font-family: $bodyfont;
  font-size: 2rem;
  height: 70vh;
  text-align: center;
  width: 100vw;
  z-index: 15;

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 4rem;
  }

  input {
    border-radius: 10px;
    font-size: 2rem;
    height: 3.5rem;
    padding-left: 5px;
    width: 15rem;
  }

  button {
    border: 3px solid transparent;
    border-radius: 25px;
    font-family: $bodyfont;
    font-size: 2rem;
    height: 3rem;
    width: 15rem;
    &:hover {
      background-color: $btn;
      border: 3px solid white;
    }
  }
}