section.player-section {
  display: flex;
  color: white;
  font-family: $bodyfont;
  font-size: 1.3rem;

  article {
    background-color: $playerbg;
    display: grid;
    grid-template-areas: "avatar name"
    "avatar score"
    "avatar bank";
    flex: 1;
    margin: 25px;
    min-height: 100%;

    h3, h4 {
      text-align: center;
    }
  }
}

.player-name {
  display: block;
  grid-area: name;
}

.player-score-label {
  font-size: 1.4rem;
  grid-area: score;
}

.player-score {
  display: block;
  font-size: $num;
}

.player-bank-label {
  font-size: 1.4rem;
  grid-area: bank;
}

.player-bank {
  display: block;
  font-size: $num;
}

.player-image {
  grid-area: avatar;
  margin: auto auto;
  width: 120px;
}

.active {
  border: 4px solid white;
  background-color: $board;
  // color: black;
  // font-size: 32px;
}

.player-two {
  width: 20%;
}