section.player-section {
  display: flex;
  color: white;
  font-family: $bodyfont;
  font-size: 1.3rem;
  height: 25vw;
  padding: 25px;

  article {
    background-color: $playerbg;
    display: grid;
    grid-template-areas: "avatar name"
    "avatar score"
    "avatar bank";
    flex: 1;
    margin: 25px;

    h3, h4 {
      text-align: center;
    }
  }
}

.player-name {
  display: block;
  grid-area: name;
}

.player-score {
  grid-area: score;
}

.player-bank {
  grid-area: bank;
}

.player-image {
  grid-area: avatar;
  // max-height: 100px;
  overflow: hidden;
  width: 120px;
}