main {
  background-color: gray;
  height: 45vh;
  display: flex;

  .category {
    font-size: $boardDescription;
    display: inline-block;
    height: 10%;
  }

  .word-box {
    height: 80%;
  }

  .description {
    font-size: $boardDescription;
    height: 10%;
  }

  section {
    flex: 2;
  }

  aside {
    flex: 1;
  }

}