.letter-box {
  border: 4px solid black;
  display: inline-block;
  font-size: 4.5rem;
  height: 100px;
  width: 5rem;
  margin-bottom: 25px;

  &.letter {
    margin: 0;
  }

  .hidden {
    visibility: hidden;
  }
}

.space-box {
  display: inline-block;
  font-size: 4.5rem;
  height: 100px;
  width: 55px;
}