//font sizes
$boardDescription: 1.5rem;
$boardCategory: 2.5rem;
$num: 2.8rem;

//font colors
$bodyfont: 'Teko', sans-serif;


//colors
$board: hsla(106, 95%, 55%, 0.3);
// hsla(106, 5%, 5%, 1)
$playerbg: hsla(106, 5%, 95%, .1);
$player: hsla(106, 75%, 85%, .6);