main aside {
  text-align: left;
  position: relative;

  div {
    display: flex;
    justify-content: center;

    button {
      background-color: $btn;
      border-radius: 25px;
      white-space: nowrap;
      font-family: $bodyfont;
      font-size: 2rem;
      height: 60px;
      padding: 0 20px;
      margin: 5px 10px;
      min-width: 25%;
      padding: 0 10px;
      &:hover {
        background-color: $player;
        box-shadow: .5rem 1rem 1.5rem .5rem $board;
      }
    }
  }

  .possible-prizes {
    position: absolute;
    word-wrap: break-word;
    width: 20%;
    top: 0;
    right: 0;
    flex-direction: column;
    
    p {
      font-size: 2rem;
    }
    span {
      font-size: 1.5rem;
      padding: .2rem .5rem;
    }
  }
}

.wheel-img {
  width: 80%;
  padding: 20px 20px 20px 5px;
}

.prize-container {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 300px;
  top: 35%;
  left: 10%;
  font-family: $bodyfont;
  font-size: 3rem;
}

.prize-animation {
  animation: spin-prize;
  animation-duration: 4s;
}

.spin {  
  transition: 5s;
  transform: rotate(360deg);
}

.slide-in {
  animation: slideIn 1s ease 0s 1 normal; 
  animation-fill-mode: forwards;
}

