body {
  background-color: #8eab73;
  background-image: url("src/images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
}
/* ============================= */
/* ==========Titles============= */
.round-num,
#reset-game {
  background-color: #bce784;
  border-radius: 30px;
  border: 3px double #414770;
  color: hsl(232, 27%, 35%);
  display: inline-block;
  font-size: 30px;
  margin: 0;
  position: relative;
}

.round-num {
  height: 40px;
  left: 70px;
  padding: 5px 20px 2px 15px;
  top: 90px;
}

#reset-game {
  height: 50px;
  left: 100px;
  padding: 2px 10px 5px 10px;
  top: 90px;
}

.logo {
  display: inline-block;
  grid-area: title;
  height: 100px;
  left: 40%;
  position: absolute;
  top: 25px;
  width: 300px;
}  

/* ============================= */
/* ===========Board============= */
.game-board {
  background-color:rgba(236, 254, 170, 0.6);
  border-radius: 40px;
  box-shadow: 3px 4px 7px gray, 2px 2px 5px black;
  color: #414770;
  display: grid;
  font-size: 44px;
  grid-auto-columns: 1fr;
  grid-gap: 15px;
  grid-template-rows: 1fr;
  grid-template-areas:
  "title title title title player"
  "cat cat cat cat player";
  margin: 0px auto;
  padding: 60px 0 0 20px;
  width: 95%;
}

.game-board h1 {
  text-align: center;
}

.cat--container {
  padding-top: 70px;
}

h2 {
  margin: 0 0 -35px 0;
}
/* ============================= */
/* ==========Rules============== */
.rules {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -45px;
}

.player {
  background-color: #bce784;
  border: 3px double #414770;
  border-radius: 40px;
  box-shadow: 3px 4px 7px gray, 2px 2px 5px black;
  margin: 10px 20px;
  padding: 15px;
  position: relative;
}

.pokemon {
  height: 80px;
  margin-top: -20px;
  position: relative;
  width: 80px;
  z-index: 2;
}

#squirtle,
#bulbasaur {
  margin-left: 10px;
}

#charmander {
  margin-left: 15px;
}

.player h5,h6 {
  font-size: 30px;
  margin: 5px;
}

h4 {
  margin: 30px 0 5px 0;
}

.shadow {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px / 50px;
  height: 20px;
  position: absolute;
  width: 80px;
  z-index: 1;
  left: 25px;
  top: 20px;
}

.active {
  box-shadow: 3px 4px 7px #bce784, 5px 6px 12px black;  
}

.shadow--active {
  background: white;
}

/* ============================= */

.cat {
  font-size: 32px;
  grid-area: cat;
  text-align: center;
  text-transform: uppercase;
}

section h3 {
  background-color: #bce784;
  border-radius: 25px;
  border: 1px solid #414770;
  text-align: center;
}

.game-board h3:hover {
  color: #fff;
}

/* ============Overlay============= */

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
}

/* ============POPUP============= */

.start-container {
  display: grid;
  grid-auto-columns: 1fr 2fr ;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "oak words"
  "oak input";
  padding: 50px;
}

.start-img {
  grid-area: oak;
}

.start-text {
  grid-area: words;
  text-align: center;
}

.start-text h4 {
  font-size: 40px;
  margin: 0;
}

.start-input {
  grid-area: input;
}

fieldset {
  border: none;
  width: 90%;
}

.starter-pokemon {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.starter-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}

.start-squirtle {
  grid-area: squirt;
}

.start-bulbasaur {
  grid-area: bulb;
}

.start-charmander {
  grid-area: char;
}

.start-input input {
  background-color: rgba(65, 71, 112, 0.77);
  border: none;
  border-radius: 30px;
  color: #ECFEAA;
  text-align: center;
}

.start--btn__container {
  display: flex;
  grid-area: start;
  justify-content: center;
}


/* ============POPUP============= */
.popup {
  background-color: #ECFEAA;
  border-radius: 50px;
  box-shadow: 3px 4px 7px black, 5px 6px 12px white;
  color: #414770;
  height: 500px;
  width: 50%;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 22%;
  z-index: 11;
}

.question-container {
  display: grid;
  grid-template-areas: 
  "img question"
  "img answer";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  visibility: hidden;
  width: 100%;
}

.question-text {
  align-content: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  grid-area: question;
  justify-content: center;
  margin: 5px;
  text-align: center;
}

.question-result {
  font-size: 60px;
}

.question-answer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  grid-area: answer;
  justify-content: center;
}

.popup button {
  background-color: #414770;
  border-radius: 25px;
  color: #ECFEAA;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin: 5px;
  text-transform: uppercase;
  width: 200px;
}

.popup button:focus {
  background-color: #5d66a0;
}

.question-img {
  align-items: center;
  display: flex;
  grid-area: img;
  height: 300px;
  justify-content: center;
}

.popup input {
  height: 25px;
  margin: 5px;
  padding: 10px;
  width: 50%;
}