*,
*::before,
*::after {
  box-sizing: border-box;
  border: 1px solid red;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 70%;
  margin: auto;
}

#game-area {
  display: flex;
  flex-direction: row;
}

#user-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}

.player-info > p {
  margin: 0;
  padding: 0;
}

#current-round {
  flex: 3;
  text-align: center;
}

#question-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#current-question {
  margin: 15px;
}

#current-round-total {
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
}

h1, h2, h4 {
  height: 100%;
  border: 1px solid magenta;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-size: 50px;
}

#response-area {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.response-card {
  height: 50px;
  margin: 5px;
  text-align: center;
}

#guess-input {
  width: 75%;
}