@import './_variables';

@media screen and (max-width: 700px) {

    h1 {
        text-align: center;
    }

    aside {
        height: auto;
        margin: 0 auto;

        ul {
            align-content: center;

            li {
                background: $tab-background-color;
                border: 1px solid $h2-font-color;
                align-items: center;

                &.current {
                    color: $h2-font-color;
                }
            }

        }
    }

    .tab-content {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    header {
        flex-direction: column;
    }
    
    #search-reservations-input {
        width: 73%;
    }

    .select-rooms {
        flex-direction: column;
    }

    .pie-percentage {
       float: left;
        margin: auto;
    }

    svg {
        height: 80px;
        width: 80px;
    }


}