@import './_variables';

@media screen and (max-width: 700px) {

    * {
        border: solid 1px red;
    }
    aside {
        height: auto;
        margin: 0 auto;

        ul {
            justify-content: center;

            li {
                background: $tab-background-color;
                text-align: center;
                width: 100%;
            }
        }
    }

    .tab-content {
        // opacity: none;

        border: 2px;
        width: 100%;
    }
}