.pie-percentage {
    margin: 25px;
  }
  
  svg {
    transform: rotate(-90deg);
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }
  

  @media screen and (max-width: 700px) {
    
  }