.searchterm {
    outline: none;
    font-size: 14px;
    height: 40px;
    width: 93%;
    margin-left: 35px;
    margin-bottom: 25px;
    font-weight: 300;
    color: #1f1f3b;
    padding: 5px;
  }
  
  .btn-search {
    background-color: $heading-font-color;
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    height: 40px;
    margin-left: 0px;
    padding: 5px;
    position: absolute;
    width: 40px;
  }

  .searchterm,
  .btn-search {
    border: 1px solid lightgrey;
    border-radius: 5px 0px 0px 5px;
  }