.splash__page {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 4;
  }
  
  .splash__box {
    color: #E5C99D;
    font-size: 70px;
    border: 5px outset;
    background: radial-gradient(circle, rgba(151,3,6,1) 45%, rgba(220,13,12,1) 90%);
    margin: auto;
    border-radius: 5px;
  }