.splash__page {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 4;
  }
  
  .splash__box {
    border: 5px outset;
    margin: auto;
    border-radius: 5px;
    z-index: 4;
    
    .welcome-page {
      color: #E5C99D;
      font-size: 70px;
      position: relative;
      text-align: center;
    }
  }
