// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$background: url('../images/hotel.jpg');
$light-grey: rgb(238, 238,	238);
$dark-blue: rgb(15,	4, 76);
$dark-grey: rgb(120,	122,	145);

$font: Arial, Helvetica, sans-serif;
