* {
   font-family: Overseer, 'Share Tech Mono';
   color: #48ae48;
}
body {
  background: url(./../images/terminal1.jpg) center;
  background-size: cover;
}
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
header img {
  width: 70%;
  padding-top: 30px;
}
nav {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  padding-right: 40px;
  position: relative;
  width: 100%;
}
.nav__btns--container {
  display: flex;
  justify-content: center;
  top: 17px;
  position: absolute;

}
.nav--btn {
  background-color: #65AB55;
  border: 1px solid black;
  color: black;
  height: 43px;
  max-width: 200px;
  padding: 5px 10px;
}
.nav__how-to {
  display: none;
}
.nav__wheel--button {
  animation: rotateWheel 5000ms infinite linear;
  position: absolute;
  right: -183px;
  top: -125px;
  width: 150px;
}
.nav__wheel--button:click {
  width: 5000px;
}
@keyframes rotateWheel {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
.letters--container {
  left: 25px;
  position: absolute;
  top: 0px;
}
.letters__title {
  margin: 0 0 0px 0;
}
.letters__remaining {
  background-color: black;
  border: .1px solid #65AB55;
  display: flex;
  flex-wrap: wrap;
  max-height: 120px;
  padding: 10px;
  font-size: 20px;
  width: 600px;
  word-wrap: break-word;
}
.used-letter {
  margin: 0;
}
.shader {
  background: rgba(0, 0, 0, .8);
  content: normal;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.fade-in-letter {
  animation: fadeInLetter 1s linear;
}
@keyframes fadeInLetter {
  0% { opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.popup {
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  border-radius: 10px;
  box-shadow: inset 0px 0px 144px 27px rgba(0,0,0,1.3);
  height: 600px;
  left: 15%;
  opacity:50%;
  padding: 40px 25px;
  position: absolute;
  top: 150px;
  width: 70%;
  z-index: 12;
}
.hidden {
  display: none;
}
.playerinfo__instructions {
  margin: 30px 0 0 0;
  text-align: center;
  text-shadow: 3px 2px 1px black;
}
.playerinfo{
  display: flex;
  height: 32%;
  justify-content: space-around;
}
.playerinfo__player {
  align-items:center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 35%;
}
.playerinfo__avatar {
  background-color: black;
  border-radius: 100%;
  border: 1px double #48ae48;
  height: 80px;
  margin-bottom: 10px;
  width: 80px;
}
.playerinfo--input {
  background: black;
  border-radius: 2%;
  border: 1px solid #48ae48;
  height: 30px;
  margin: 10px;
  padding: 5px 10px;
  text-align: center; 
  width: 80%;
}
.instructions {
  display: flex;
  height: 275px;
  justify-content: center;
  margin-top: 30px
}
.instructions--column {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding: 10px;
  text-shadow: 3px 2px 1px black;
  width: 28%;
}
.instructions--column-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  width: 100%;
}
.instructions p {
  font-size: 13px;
  line-height: 25px;
  min-height: 150px;
  text-align: justify;
  width: 170px;
  word-spacing: -4.8px;
}
.start {
  display: flex;
  justify-content: center;
}
button.start__start--btn {
  background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39% ,60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);;
  border-radius: 2%;
  border: none;
  font-size: 32px;
  height: 60px;
  width: 250px;
}
.fade-out__animation {
  animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
  0%{opacity: 1}
  100%{opacity: 0}
}
.fa-hand-holding-usd,
.fa-dharmachakra,
.fa-puzzle-piece{
  font-size: 60px;
  text-shadow: 3px 2px 1px black;
}
.instructions__head {
  align-items: center;
  display: flex;
}
/* ! Board Area ! */
/* ============== */
.board__container {
  display: flex;
  height: 450px;
  justify-content: center;
  position: relative;
}
.board__tile-value--container {
  align-items: center;
  background-color: black;
  border: #65AB55 solid 3px;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: center;
  position: absolute;
  top: 15px;
  width: 80%;
  z-index: 5;
}
.ans-letter {
  background-color: #90D155;;
  color: black;
  font-size: 25px;
  font-weight: 900;
  height: 40px;
  margin: 10px;
  padding: 10px 5px 5px 5px;
  text-align: center;
  width: 35px;
  z-index: 20;
}
.hint--container {
  bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-shadow: 1.5px 2px black;
  width: 1000px;
}
.hint__title {
  color: #90D155;
  display: flex;
}

.hint__value {
  color: #90D155;
  display: flex;
  max-width: 500px;
  margin: 0;
}
.round-info--container {
  bottom: -20px;
  bottom: 50px;
  display: flex;
  position: absolute;
  text-shadow: 1.5px 2px black;
}
.round-info__current-round {
  color: #90D155;
  padding-right: 10px;
}
#rnd-num {
  color: white;
}
.guess--container { 
  bottom: 15px;
  position: absolute;
}
#guess--input {
  background-color: black;
  border: 1px solid #65AB55;
  padding: 5px 5px 5px 15px;
}
.guess--button {
  background-color: #65AB55;
  border: .1px solid black;
  color: black;
  height: 35px;
  padding: 5px 10px;
}
#consonant {
  background-color: gray;
  width: 150px;
}
#consonant--label {
  position: absolute;
  right: 25px;
  top: -18px;
}
.disable--label {
  display: none;
}
/* ! Footer / Player Navigation ! */
/* ============================== */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10% 0 10%;
  position: relative;
}
.player--container{
  display: grid;
  background: black;
  border: 1px solid #65AB55;
  grid-template-columns: 150px;
  grid-template-rows: 100px;
  grid-template-areas:
  "avitar name"
  "ptsTitle pts";
  padding: 20px;
  width: 300px;
}
.avitar--container {
  align-items: center;
  display: flex;
  grid-area: avitar;
  justify-content: center;
}
.caps--container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-area: ptsTitle;
  height: 100px;
  justify-content: center;
  padding-top: 10px;
}
.caps--image {
  height: 35px;
  padding-left: 15px;
  vertical-align: middle;
  width: 35px;
}
.player__points--container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  height: 100px;
  justify-content: center;
  margin-left: 50px;
  padding-top: 25px;
}
.player__round--points,
.player__total--points {
  margin: 0;
}
/* ! red border  for current player */
.big-red-border {
  animation: fadeIn 2s linear;
  border-radius: 20px;
  color: yellow;
  padding: 10px;
  text-decoration: underline;
  transform: translate(-10px, -10px);
  width:80%;
}
.winner-card {
  align-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  border-radius: 10px;
  box-shadow: inset 0px 0px 144px 27px rgba(0, 0, 0, 1);
  display: flex;
  font-size: 40px;
  height: 199px;
  justify-content: center;
  padding: 40px 25px;
  position: absolute;
  width: 1000px;
  z-index: 14;
}
.prompt-img {
  height: 100px;
  position: absolute;
  z-index: 15;
  font-size: 39px;
}
.fade-in {
  animation: fadeIn 1s 1;
}
.animation--container {
  align-items: center;
  background-color: black;
  border-radius: 50%;
  border: 1px #65AB55 solid;
  display: flex;
  height: 130px;
  justify-content: center;
  left: -175px;
  position: absolute;
  top: -120px;
  width: 130px;
}
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1}
}
.prize--label {
  position: absolute;
  top: -30px;
  color: white;
  text-shadow: 1px 1px black;
  width: 150px;
  left: 110px;
  border-bottom: 2px ridge white;
}
.prize-title {
  position: absolute;
  top: 14px;
  left: 110px;
  font-size: 20px;
  color: #90D155;
  text-shadow: 1.5px 1.5px black;
}
.prize-img {
  width: 100px;
}