body {
  font-family: 'Press Start 2P';
  background: #5a4271;
  /* background-image: url("/images/back.gif"); */
  background: linear-gradient(black, transparent), url("/images/back.gif") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.logo {
  height: 90px;
  width: 550px;
}

h1 {
  text-align: center;
}

.boardWheel {
  transition: 3s;
  margin-left: 250px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playerNames {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.playerOne, .playerTwo, .playerThree{
  margin: 10px;
}

section.tables{
  display: flex;
  flex-direction: row;
  margin: 30px;
}

table.guessBoard {
  border: 1px solid black;
  height: 230px;
  margin-right: 20px;
  width: 80%;
}

tr, td {
  border: 1px solid black;
  padding: 0px;
  text-align: center;
  width: 10px;
}

table.letterBank {
  border: 5px solid black;
  height: 230px;
  width: 30%;
  background: #004092;
}
section.players{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
section.roundSection {
  text-align: center;
  margin: 30px;
  width: 50%;
}

section.playSection{
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 50%;
}

.roundNumber {
  color: #00e000
}

button.spinButton{
  height: 40px;
  margin: 10px;
  border: 5px solid #ffae00;
  border-radius: 30px;
  width: 150px;
  background: #ffea00;
  font-size: 22px;
}

form.buttons {
  flex-direction: row;
}

form.inputs{
  flex-direction: row;
}

.spinButton:hover{
  cursor: pointer;
}

th {
  color: black;
}

.currentPlayer, .clue, .category {
  color: #00e000
}

.letters:hover,
.vowel:hover {
  background: #ffea00;
  color: grey;
  cursor: pointer;
}

.letterBank {
  background: #004092;
}

td {
  border: 4px solid #2b3152;
  background: #673ab7;
  width: 20px;
  height: 20px;
}

.guessCard {
  background: #292727;
  position: absolute;
  z-index: 1;
  right: 40%;
  left: 40%;
  bottom: 40%;
  height: 210px;
  border: 10px solid #00e000;
  border-radius: 25px;
}


input.nameInput{
  font-family: 'Press Start 2P';
  font-size: 20px;
  height: 30px;
  margin: 0 10px 0px 10px;
  width: 120px;
  border-radius: 25px;
  border: 3px solid #00e000;
  color: white;
  background: black;
  padding-left: 20px;
}

.instructions, .spunValue {
  color: #00e000;
}

button.startGame, .tester, .reset, .guessPuzzle {
  margin: 0px 0px 10px 10px;
  height: 40px;
  width: 150px;
  border-radius: 30px;
  font-family: 'Press Start 2P';
}

.wheel {
  text-align: center;
  animation: spin .8s linear;
  display: block;
  fill: #223344;
  height: 200px;
  margin: 0 5px 5px 0;
  width: 200px;
  transition: 5s;
}

