@import './_variables';

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://cdn.dribbble.com/users/1379556/screenshots/5197492/vertical_flowers_edit_final.jpg')
}

h1 {
  color: $heading-font-color;
  font-size: 50px;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

// main {
//   display: flex;
// }

.main__dashboard-display {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

aside {
  height: 800px;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        color: $font-hover;
      }

      &.current {
        background: #ededed;
			  color: #222;
      }
  
    }

  }

  .tab-content {
    display: none;
    background: #ededed;
    padding: 15px;

    &:current {
      display: inherit;
    }
  }

 

}