/* Green Galaxy: 
 light light green #cae6df,
 medium teal/blue #064b55,
 medium green #0a674f,
 dark green #044541,
 dark AF #04192e  */

 @import url('https://fonts.googleapis.com/css?family=Pacifico|Press+Start+2P');

 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

body {
  background-color: #04192e;
  color: #cae6df; 
  font-family: 'Pacifico', cursive;
}

ul {
  list-style: none;
  margin: 20px;
}

li {
  color: #04192e;
  padding: 10px;
  /* background-color: #cae6df; */
}

.title {
  color: #cae6df;
  text-align: center;
}

.val-btn {
  background-color: #cae6df; 
  color: #04192e;
  margin: 10px;
  text-align: center;
}

.val-btn:hover {
  background-color: #064b55;
  color: #cae6df;
  cursor: pointer;
}

.used {
  opacity: 0.5;
  height: 40px;
}

h1{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.player-info {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 0 15%;
}

.game-board {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.clue-card {
  background-color: #cae6df;
  border: 1px solid #064b55; 
  border-radius: 5px;
  color: #04192e;
  font-family: 'Press Start 2P', cursive;
  height: 400px;
  left: 20%;
  padding: 100px;
  position: fixed;
  text-align: center;
  top: 20%;
  width: 800px;
  z-index: 1;
}

.result {
  background-color: #cae6df;
  border: 1px solid #064b55; 
  border-radius: 5px;
  color: #04192e;
  font-family: 'Press Start 2P', cursive;
  height: 400px;
  left: 20%;
  padding: 100px;
  position: fixed;
  text-align: center;
  top: 20%;
  width: 800px;
  z-index: 1;
}

.guess {
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  padding: 5px 0 7px 0;
  text-align: center;
  width: 500px;
}

.guess-btn {
  background-color: #064b55;
}

.opacity {
  opacity: 0.5;
}

.hidden {
  display: none;
  pointer-events: none;
}

.white {
  color: white;
}

