/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: teal;
/*-------Body----------*/
body {
  background-color: $primary-background;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------Header----------*/
header {
  text-align: center;
  border: 1px solid black;
}

/*-------Main----------*/
#game_board{
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100px;
  height: 60px;
  border: 1px solid black;
}

.survey-box-container {
  border: 1px solid black;
}

#steve1,
#steve2{
  background: url('../images/steve-1.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height:200px;
  width:200px;
}

.survey-box-container p {
  padding: 10px;
  border: 1px solid black;
  margin: 0
}
