body {
  background-color: #00615b;
  padding: 35px;
  color: #fff;
  font-family: Raleway, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.popup--container {
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60%;
  top: 30%; 
}

.hide--container {
  display: none;
}

.game--container {
  display: grid;
  grid-template-rows: .25fr .65fr 2.5fr .75fr;
}

.game--inactive {
  opacity: .2;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: #e7d058;
  font-size: 80px;
  margin: 0;
  margin-bottom: 15px;
}

button {
  background-color: #54a99c;
  color: white;
  border: 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: Raleway;
}

.category--header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px;
  grid-gap: 20px;
  padding: 20px;
}

.game--board {
  border-radius: 10px;
  background-color: #49a89d;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  text-align: center;
}

.category--header h3, 
.game--board h4 {
  border-radius: 10px;
  background-color: #007f78;
  margin: 0;
  font-size: 20px;
  padding: 35px;
  justify-content: center;
}

.category--header {
  border-radius: 10px;
  display: grid;
  padding: 20px;
  margin-bottom: 10px;
  grid-auto-flow: row;
  text-align: center;
}

.player--container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.player--container div {
  background-color: #49a89d;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.game--board .used--tile {
  background-color:  #49a89d;
  color: #49a89d;
  pointer-events: none;
}

.error--hidden {
  visibility: hidden;
}

.error--displayed {
  visibility: visible
}