/* This is an example of using Sass, otherwise plain CSS works too*/

@import url("https://use.typekit.net/hrr5eir.css");


$primary-background: rgba(11, 25, 65, 1);
// $gradient: rgba(11,25,65,.8);
$hover-color: orange;
$miami-soft-pink: #f090c0;
$miami-soft-blue: #9eccdc;
$miami-hot-pink: #ed145a;
$beachy-blue: #22ABC7;
$tropical-seas: #18d8f0;
$turquoise: #18c0f0;
$lightgray: #f5f5f5;
$neon-font: neonoir, sans-serif;
$miami-font: ltc-broadway-engraved, sans-serif;
$body-copy: fira-sans-2, sans-serif;
/*-------Body----------*/
body {
  background:white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:black;
  font-family: $body-copy;
  height: 100vh;
}

/*-------Main----------*/

/* --- game-start ---*/

#form_game-start{
  margin: auto;
  width: 100vw;
  background: url('../images/miami-splash.png');
  background-position: center;
  height: 100vh;
  background-size: cover;
  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    right:20%;
    h1{
      font-family: $neon-font;
      text-align: center;
      font-size:90px;
      border-radius: 2rem;
      color: $miami-soft-pink;
      margin: 10% 5%;
      word-wrap: none;
      animation: flicker 1.5s infinite alternate;
      span{
        font-family: $miami-font;
        font-size:90px;
        color:$miami-hot-pink;
        display: block;
      }
    }

    &.form_input-players{
      margin: 10% 0;
    }

    #btn_game-start{
    width:100%;
    font-size: 1.5em;
    display: block;
    border: 2px solid grey;
    background: $miami-soft-pink;
    box-shadow: 0px 0px 10px 5px $miami-soft-pink;
      &:hover{
        border:2px solid $beachy-blue;
      }
    }
  }
  textarea {
    height:200px;
    width:40%;
    overflow: scroll;

  }

}

input{
  font-size: 1.5em;
  width: 150px;
  margin: 10px;
  box-shadow: 0px 0px 10px 5px rgba(230,230,230,0.8);
  border-radius: 5px;
  &:hover{
    border-color: $beachy-blue;
  };
}

button {
  width: 100%;
  margin: 10px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  &#btn_game-quit{
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 50%;
    border: 4px solid white;
    color: white;
    background-color: $miami-hot-pink;
    position: absolute;
    top: 25px;
    right:50px;
  }
  &#btn_submit {
    font-family: $body-copy;
  }
  &:hover{
    background-color: darkgrey;
  }
}

/*---- Game Board -----*/

header {
  text-align: center;
  background-color: #fff;
  color: $tropical-seas;
  font-family: $miami-font;
  font-style: normal;
  font-weight: 400;
  font-size:50px;
  //good use case for mixins
  & span{
    color: $miami-soft-pink;
  }
  h2{
    margin:20px 0 0;
    border-bottom: 10px solid $miami-soft-pink;
  }
}


#game-board{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: url('../images/gametime-bg.png');background-size: cover;
  background-repeat: no-repeat;
  grid-template-rows: 50px 1fr 1fr;
}

p{
  margin:0;
}


#top-left{
  grid-column: 1/1;
  grid-row:1/1;
  // background: url('../images/top-left-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#top-right{
  grid-column: 3/3;
  grid-row:1/1;
  // background: url('../images/top-right-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#bottom-left{
  grid-column: 1/1;
  grid-row: 3/3;
  // background: url('../images/bottom-left-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#bottom-right{
  grid-column: 3/3;
  grid-row: 3/3;
  // background: url('../images/bottom-right-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
    &.player-container{
      text-align: center;
      div{
        width:80%;
        border: 2px solid $turquoise;
        border-radius: 5px;
      }
      &.p1{
        grid-column: 1/1;
        grid-row:2/2;
      }
      &.p2{
        grid-column: 3/3;
        grid-row:2/2;
      } 
      h3{
        font-size: 38px;
        margin:0;
      }
      span{
        display: block;
        font-size: 90px;
        font-family: $neon-font;
        color: $miami-hot-pink;
      }
      p{
        font-size: 28px;
      }
  }
  &.game-container{
    grid-column: 2/2;
    grid-row: 2/2;
  }
}

.round{
    grid-column: 2/2;
    grid-row: 1/1;
    font-family: $body-copy;
    color:black;
    h4{
      font-size: 28px;
      margin: 0;
    }
    h3{
      margin:0;
      text-align: center;
      font-family: $neon-font;
      color: $miami-soft-pink;
      font-size:38px;
  }
}

.neon-player-box{
  animation: flicker-box 1.5s infinite alternate;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/2;
  grid-row:4/4;
}

.survey-box-container {
  border: 3px solid $miami-hot-pink;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px $miami-soft-pink;
  width: 100%;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.submit-form{
  grid-column: 2/2;
  grid-row:3/3;
  margin: auto;
  font-family: $body-copy;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.turn_answer-container{
  background-color: $lightgray;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:80px;
  font-family: $body-copy;
  color: black;
  font-size: 32px;
  align-items: center;
    .turn_answer{
      color: white;
      padding:0 5px;
    }

    .turn_answer-respondents{
      border-left: 2px solid white;
      color:white;
      margin-left: auto;
      padding: 0 5px;
      width: 20px;
      text-align:center;
    }
    p{
      padding:5px;
    }

}

#steve1,
#steve2{
  background: url('../images/steve-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// #steve1{
//   // grid-column: 1/1;
//   // grid-row:2/2;
// }

// #steve2{
//   // grid-column: 3/3;
//   // grid-row:2/2;
// }

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem $miami-hot-pink,
            0 0 4rem $miami-hot-pink,
            0 0 6rem $miami-hot-pink,
            0 0 8rem $miami-hot-pink,
            0 0 10rem $miami-hot-pink;
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem $miami-soft-pink,
            inset 0 0 2rem $miami-soft-pink,
            0 0 4rem $miami-soft-pink,
            inset 0 0 4rem $miami-soft-pink;        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

@keyframes flicker-box {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem $miami-soft-pink,
            inset 0 0 2rem $miami-soft-pink,
            0 0 4rem $miami-soft-pink,
            inset 0 0 4rem $miami-soft-pink;        
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
}