$background-primary-color: #2F333F;
$background-secondary-color:  #515769;
$background-third-color: rgba(47, 51, 63, 0.3);;
$body-section-one__item-header-color:   #848484;
$golden-40: rgba(195,169,132, 0.4);
$golden: #C3A984;
$green: #7FE2C0;
$red: #F86B6B;
$yellow: #EACF76;
$white: #fff;
$white-40: rgba(255,255,255,0.4);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.body-section-one {
  align-items: center;
  background-color: $background-primary-color;
  border-bottom: 1px solid $golden-40;
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: relative;
  z-index: 4;
  margin-bottom: 95vh;
};

.logo {
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
};

.body-section-one-all-items {
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
  width: 100%;
};

.body-section-one__item-header {
  color: $body-section-one__item-header-color;
}

.body-section-one-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rooms-available,
.totdays-total-income,
.rooms-occupied-percentage {
  font-size: 95px;
  font-family: 'Old Standard TT', serif;
}

.rooms-available {
  color: $red;
}

.rooms-occupied-percentage {
  color: $green;
}

.totdays-total-income-dollar {
  font-family: 'Old Standard TT', serif;
  color: $yellow;
  font-size: 45px;
}

.rooms-occupied-percentage-sign {
  font-family: 'Old Standard TT', serif;
  color: $green;
  font-size: 45px;
}

.body-section-three {
  background-color: $background-primary-color;
  height: 10vh;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.body-section-three__date-and-time {
  border-radius: 10px;
  border: 1px solid $golden;
  display: flex;
  height: 42px;
  width: 350px;
  margin-left: 10px;
}

.body-section-three__time {
  align-items: center;
  background-color: $golden;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  color: $background-primary-color;
  display: flex;
  font-size: 1.4em;
  height: 100%;
  justify-content: center;
  width: 35%;
}

.body-section-three__date {
  align-items: center;
  color: $golden;
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  width: 65%;
}

.body-section-one-open-close-btn {
  background-color: $background-primary-color;
  border-radius: 50%;
  border: 1px solid $golden-40;
  bottom: -17px;
  height: 34px;
  width: 34px;
  outline: none;
  position: absolute;
}

.body-section-one-open-close-more {
  color: $golden-40;
  position: absolute;
  bottom: 0px;
  z-index: 6;
  height: 25px;
  background-color: $background-primary-color;
}

.arrow {
    border: solid $golden-40;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
    margin-top: 15px;
    z-index: 10;
}

// .body-section-one-open-close-btn:hover {
//   .arrow {
//     border: solid $golden;
//     border-width: 0 1px 1px 0;
//   }
//   border: 1px solid $golden;
// }

.body-section-three-half-circle-container {
  width: 100%;
  position: absolute;
  top: -18px;
  display: flex;
  justify-content: center;
}

.body-section-three-half-circle {
  background-color: $background-secondary-color;
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.body-section-two {
  background-color: $background-secondary-color;
  height: 85vh;
  margin-bottom: 10vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  z-index: 2;
}

.body-section-two-content {
  height: 95%;
  width: 90%;
  position: relative;
}

.body-section-two__headers {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  height: 2.4em;
  align-items: center;
  background-color: $background-third-color;
  list-style: none;
}

.body-section-two__bodies {
  height: 87%;
  position: relative;
  margin-top: 12px;
  background-color: $background-third-color;
}

.body-section-two__customers-header {
  color: $white;
  cursor: pointer;
}

.body-section-two__rooms-header {
  color: $white-40;
  cursor: pointer;
}

.body-section-two__services-header {
  color: $white-40;
  cursor: pointer;
}

#customers-body {
  height: 100%;
  display: block;
  padding-left: 20px;
  padding-top: 5px;
}

#rooms-body {
  height: 100%;
  display: none;
  padding: 20px;
  justify-content: space-between;
}

#services-body {
  height: 100%;
  display: none;
  padding: 20px;
}

.input-body  {
  border: $white 1px solid;
  width: 320px;
  border-radius: 5px;
  background-color: $white;
  margin-top: 25px;
}

#customers-body-add-input {
  background-color: $background-secondary-color;
  border-bottom-left-radius: 5px;
  border-right: 1px solid $white;
  border-top-left-radius: 5px;
  border:  0px ;
  color: $white;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding-left: 8px;
  width: 250px;
}

#customers-body-search-input {
  background-color: $background-secondary-color;
  border-radius: 5px;
  color: $white;
  border: none;
  // border: 1px solid $white;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding-left: 8px;
  width: 100%;
}

#customers-body-add-btn {
  height: 25px;
  cursor: pointer;
  padding-left: 13px;
  display: inline-block;
  width: 63px;
}

#customers-body-add-btn:hover {
  color: $golden;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid #515769;
  color: $white
}
th, td {
  text-align: left;
  height: 25px;
  background-color: rgba(47, 51, 63, 0.3);
}
th {
  text-align: center;
}

td {
  padding-left: 4px;
}

.header_hashtag {
  width: 30px;
}

.header_services {
  width: 300px;
}

.header_quantity,
.header_price {
  width: 100px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
  padding-right: 5px;
}

.services-general-info-services {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

th {
  font-size: 14px;
  background-color: $white-40;
}

.rooms-most-least-popular-days {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.rooms-most-popular-days-container {
  height: 520px;
  overflow: hidden;
  border: none;
  margin-right: 20px;
}

.rooms-least-popular-days-container {
  height: 530px;
  overflow: hidden;
}

#customers-body-found-name {
  list-style: none;
  margin-top: 2px;
}

.names-found {
  width: 320px;
  height: 30px;
  border: 1px solid $background-secondary-color;
  background-color: $background-third-color;
  padding: 4px;
  color: $white;
}

.names-found:hover {
  background-color: $white;
  color: $background-primary-color;
  cursor: pointer;
}

#selected-name {
  height: 30px;
  display: flex;
}

.selected-name__name {
  height: 30px;
  width: 200px;
  background-color: $golden;
  color: $background-primary-color;
  padding: 4px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.selected-name__close-btn {
  background-color: $white-40;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
}

.selected-name__close-btn:hover {
  background-color: $red;
  color: $white;
  cursor: pointer;
}

.prompt {
  color: $background-primary-color;
  border: 1px solid $background-secondary-color;
}


#datepicker,
#datepicker-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: $white;
}

#datepicker-label,
#datepicker-label-2 {
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  padding-left: 10px;
  color: $white;
}

.date-picker-container {
  border: 1px solid $white;
  border-radius: 5px;
  width: 260px;
}

.services-title {
  text-align: center;
  color: $white;
}

.days {
  width: 170px;
}

.rooms-available-rooms {
  width: 40%
}

.room-type {
  width: 220px;
}

.available-rooms {
  width: 150px;
}

.rooms-available-rooms-table {
  margin-top: 30px;
}

.services-title-2 {
  text-align: center;
  color: $white;
  margin-top: 40px;
  width: 400px;
}