*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid grey; */
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  background-color: #4D7CEA;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

h1 {
  font-size: 75px;
  color: white;
  margin: 0 auto 35px auto;
}


.modal {
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-display-area {
  border-radius: 5px;
  height: 600px;
  width: 600px;
  text-align: center;
  background: white;
  border: 5px solid #B3360E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-display-area > * {
  width: 80%;
}

.modal-header {
  margin: 0 auto 15px auto;
  font-size: 75px;
}

.modal-text {
  margin: 0 auto 25px auto;
  font-size: 20px;
  text-align: left;
}

.start-game-modal {
  z-index: 5;
}

.start-game-form {
  flex-direction: column;
}

.name-form-container {
  margin-bottom: 15px;  
}

.name-form-container > * {
  display: block;
  text-align: left;
  width: 100%;
}

.name-form-container label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

.name-form-container input {
  height: 50px;
  font-size: 25px;
  padding-left: 15px;
  color: grey;
}

.name-form-container input:focus {
  outline: 2px solid #B3360E
}

.modal-btn {
  background-color: rgb(54, 182, 54);
  width: 80%;
  margin-top: 25px;
}

.modal-btn-name {
  font-weight: 600;
}

.modal-btn:hover {
  background-color: #98C379;
}

.modal-btn:disabled {
  background-color: #98C379;
}

.start-game-btn {
  width: 100%;
}

.modal-current-standings {
  margin: 0;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.modal-result-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  width: 150px;
  height: 150px;
}

.modal-results-name {
  margin: 0 auto 20px auto;
  font-size: 25px;
}

.modal-results-score {
  font-size: 50px;
  margin: 0;
}

#game-area {
  margin: 0 100px;
  border-radius: 5px;
  color: lightgrey;
  position: relative;
}

.player-info {
  padding: 15px;
  /* border: 1px solid red; */
  border-radius: 3px;
}

.player-score {
  font-size: 65px;
  font-weight: 600;
  color: white;
  background-color: rgba(35,37,66,1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  /* box-shadow: 0 0 0 3px #B3360E; */
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

#button-container {
  display: flex;
  flex-direction: column;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: space-between;
}

button {
  height: 45px;
  font-size: 20px;
  border: 0;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}


.new-game-btn {
  background-color: #B3360E;
  width: 50%;
  margin-top: 50px;
  height: 60px;
}

.new-game-btn:hover {
  background-color: #E06B75;
}

.player-info > p {
  margin: 0;
  padding: 0;
}

#current-round {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 3;
  text-align: center;
  padding: 25px;
  /* border: 3px solid black; */
  background:  rgba(35,37,66,1);
  border: 7px solid #F5CE17;
  box-shadow: 0 0 0 3px #B3360E;
  border-radius: 5px;
}

.player-name {
  line-height: 100%;
  margin: 0;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 600;
  color: white;
}

#question-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* margin-top: 15px; */
}

#current-question {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #413538;
  font-weight: 400;
  border-radius: 3px;
  border: 2px solid white;
}

#current-round-total {
  height: 100px;
  color: white;
  width: 100px;
  text-align: center;
  margin: auto;
  background-color: #2B57A8;
  border: 5px solid #F5CE17;
  border-radius: 10px;
}

.logo {
  height: 150px;
}

.response-text {
  text-align: left;
  margin: 0;
}

#response-area {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.response-card,
#current-question,
button {
  border-radius: 3px;
}

.response-container {
  position: relative;
}

.response-card,
.revealed-response {
  position: absolute;
  height: 60px;
  margin: 5px 0;
  text-align: center;
  background-color: #4D7CEA;
  /* background: linear-gradient(0deg, rgba(26, 63, 149, 1) 0%, rgba(105, 173, 237, 1) 100%); */
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  border: 2px solid #D9E6EE;
  outline: 2px solid grey;
  outline-offset: -4px;
  align-items: center;
  width: 100%;
}

.response-card {
  z-index: 2;
}

.revealed-response {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
}

.respondents {
  position: absolute;
  right: 0;
  margin: 0;
  border-left: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
}

.main-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  height: 50px;
}

#guess-input {
  border-style: none;
  flex: 8;
  border-radius: 3px 0 0 3px;
  width: 75%;
  font-size: 20px;
  padding-left: 15px;
  height: 100%;
}

#guess-input:focus {
  outline: 0;
}

.submit-btn {
  flex: 2;
  border-style: none;
  border-radius: 0 3px 3px 0;
  font-size: 20px;
  height: 100%;
  color: white;
  background-color: #B3360E;
}

.submit-btn:hover {
  background-color: #E06B75;
  cursor: pointer;
}