$background-primary-color: #2F333F;
$background-secondary-color:  #515769;
$background-third-color: rgba(47, 51, 63, 0.3);;
$body-section-one__item-header-color:   #848484;
$golden-40: rgba(195,169,132, 0.4);
$golden: #C3A984;
$green: #7FE2C0;
$red: #F86B6B;
$yellow: #EACF76;
$white: #fff;
$white-40: rgba(255,255,255,0.4);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.body-section-one {
  align-items: center;
  background-color: $background-primary-color;
  border-bottom: 1px solid $golden;
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: relative;
  z-index: 4;
  margin-bottom: 95vh;
};

.logo {
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
};

.body-section-one-all-items {
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
  width: 100%;
};

.body-section-one__item-header {
  color: $body-section-one__item-header-color;
}

.body-section-one-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rooms-available,
.totdays-total-income,
.rooms-occupied-percentage {
  font-size: 95px;
  font-family: 'Old Standard TT', serif;
}

.rooms-available {
  color: $red;
}


.totdays-total-income-dollar {
  font-family: 'Old Standard TT', serif;
  color: $yellow;
  font-size: 45px;
}

.rooms-occupied-percentage-sign {
  font-family: 'Old Standard TT', serif;
  color: $green;
  font-size: 45px;
}

.body-section-three {
  background-color: $background-primary-color;
  height: 10vh;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.body-section-three__date-and-time {
  border-radius: 10px;
  border: 1px solid $golden;
  display: flex;
  height: 42px;
  width: 350px;
  margin-left: 10px;
}

.body-section-three__time {
  align-items: center;
  background-color: $golden;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  color: $background-primary-color;
  display: flex;
  font-size: 1.4em;
  height: 100%;
  justify-content: center;
  width: 35%;
  padding-top: 5px;
}

.body-section-three__date {
  align-items: center;
  color: $golden;
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  width: 65%;
  padding-top: 5px;
}

.body-section-one-open-close-btn {
  background-color: $background-primary-color;
  border-radius: 50%;
  border: 1px solid $golden;
  bottom: -17px;
  height: 34px;
  width: 34px;
  outline: none;
  position: absolute;
}

.body-section-one-open-close-more {
  color: $golden;
  position: absolute;
  bottom: 0px;
  z-index: 6;
  height: 25px;
  background-color: $background-primary-color;
}

.arrow {
    border: solid $golden-40;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
    margin-top: 15px;
    z-index: 10;
}

// .body-section-one-open-close-btn:hover {
//   .arrow {
//     border: solid $golden;
//     border-width: 0 1px 1px 0;
//   }
//   border: 1px solid $golden;
// }

.body-section-three-half-circle-container {
  width: 100%;
  position: absolute;
  top: -18px;
  display: flex;
  justify-content: center;
}

.body-section-three-half-circle {
  background-color: $background-secondary-color;
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.body-section-two {
  background-color: $background-secondary-color;
  height: 85vh;
  margin-bottom: 10vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  z-index: 2;
}

.body-section-two-content {
  height: 95%;
  width: 90%;
  position: relative;
}

.body-section-two__headers {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  height: 2.4em;
  align-items: center;
  background-color: $background-third-color;
  list-style: none;
}

.body-section-two__bodies {
  height: 86%;
  position: relative;
  margin-top: 12px;
  background-color: $background-third-color;
}

.body-section-two__customers-header {
  color: $white;
  cursor: pointer;
}

.body-section-two__rooms-header {
  color: $white-40;
  cursor: pointer;
}

.body-section-two__services-header {
  color: $white-40;
  cursor: pointer;
}

#customers-body {
  height: 100%;
  display: block;
  padding-left: 20px;
  padding-top: 5px;
}

#rooms-body {
  height: 100%;
  display: none;
  padding: 20px;
  justify-content: space-between;
}

#services-body {
  height: 100%;
  display: none;
  padding: 20px;
}

.content-body-search-add-container {
  border: $white 1px solid;
  width: 320px;
  border-radius: 5px;
  background-color: $white;
  color: $background-secondary-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

input[type="text"] {
  background-color: $background-secondary-color;
  border-bottom-left-radius: 5px;
  border-right: 1px solid $white;
  border-top-left-radius: 5px;
  border:  0px ;
  color: $white;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding-left: 8px;
  width: 250px;
}

#customers-body-add-btn {
  height: 28px;
  cursor: pointer;
  position: relative;
  width: 63px;
  font-size: 14px;
  border: none;
  outline: none;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid #515769;
  color: $white
}
th, td {
  text-align: left;
  height: 25px;
  background-color: rgba(47, 51, 63, 0.3);
}
th {
  text-align: center;
}

td {
  padding-left: 4px;
}

.header_hashtag {
  width: 30px;
}

.header_services {
  width: 300px;
}

.header_quantity,
.header_price {
  width: 100px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
  padding-right: 5px;
}

.services-general-info-services {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

th {
  font-size: 14px;
  background-color: $white-40;
}

.rooms-most-least-popular-days {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.rooms-most-popular-days-container {
  height: 520px;
  overflow: hidden;
  border: none;
  margin-right: 20px;
}

.rooms-least-popular-days-container {
  height: 530px;
  overflow: hidden;
}

#customers-body-found-name {
  list-style: none;
  margin-top: 2px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.names-found {
  width: 320px;
  height: 30px;
  border: 1px solid $background-secondary-color;
  background-color: $background-third-color;
  padding: 4px;
  color: $white;
}

.names-found:hover {
  background-color: $white;
  color: $background-primary-color;
  cursor: pointer;
}

#selected-name {
  height: 30px;
  display: flex;
}

.selected-name__name {
  height: 30px;
  width: 200px;
  background-color: $golden;
  color: $background-primary-color;
  padding: 4px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.selected-name__close-btn {
  background-color: $white-40;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
}

.selected-name__close-btn:hover {
  background-color: $red;
  color: $white;
  cursor: pointer;
}

.prompt {
  color: #000;
  border: 0px solid $background-secondary-color;
}

#datepicker,
#datepicker-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: $white;
}

#datepicker-label,
#datepicker-label-2 {
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  padding-left: 10px;
  color: $white;
}

.date-picker-container {
  border: 1px solid $white;
  border-radius: 5px;
  width: 260px;
}

.services-title,
.title {
  text-align: center;
  color: $white;
}

.title {
  margin-top: 25px;
}

.days {
  width: 170px;
}

.rooms-available-rooms {
  width: 40%
}

.room-type {
  width: 220px;
}

.available-rooms {
  width: 150px;
}

.rooms-available-rooms-table {
  margin-top: 30px;
}

.services-title-2 {
  text-align: center;
  color: $white;
  margin-top: 40px;
  width: 400px;
}

.rooms-general-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rooms-customer-info {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.available-all-rooms-container {
  border: 1px solid $background-primary-color;
  width: 550px;
  background-color: #515769;
  padding: 7px;
}

.available-all-rooms-title {
  color: $white;
  text-align: center;
  padding-bottom: 10px;
}

.available-all-rooms-controllers {
  width: 30%;
  height: 95%;

}

.available-all-rooms {
  overflow: scroll;
  height: 93%;
  background-color: $background-secondary-color;
  width: 70%;
  border: 3px solid $background-primary-color;
  border-radius: 5px;
}

.one-room {
  border-radius: 5px;
  // border: 1px solid $white;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 95%;
  background-color: $background-primary-color;
  color: #fff;
  padding-left: 5px;
  padding-top: 10px;
}

.book {
  width: 80%;
  background: rgba(255,255,255,0.4);
  color: #000;
  outline: none;
  height: 20px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 6px;
  border-radius: 4px;
  border: none;
  color: $white;
}

.book:hover {
  background-color: $green;
  cursor: pointer;
  color: $background-primary-color;
}

p {
  padding-bottom: 5px;
}

.available-all-rooms-controller-rooms {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: $background-primary-color; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $green; 
}

.controller-label {
  color: $white;
  font-size: 13px;
  padding-bottom: 3px;
}

.select-room,
#datepicker-controller {
  width: 95%;
  background-color: transparent;
  color: $white;
  outline: none;
  border: 1px solid $white;
  border-radius: 3px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.cancel-booking-header {
  width: 150px;
}

.cancel-booking {
  text-align: center;
  cursor: pointer;
}

.cancel-booking:hover {
  background-color: $red;
}

.services-customer-info {
  display: none;
  justify-content: space-between;
}

.menu-container {
  width: 40%;
  background-color: $background-third-color
}

.menu-td,
.menu-column-1,
.menu-column-2,
.menu-column-3 {
  height: 23px;
  font-size: 13px;
  border: 1px solid transparent;
  border-bottom: 1px solid $background-primary-color;
  background-color: transparent;
}

.menu-title {
  text-align: center;
  color: $white;
  margin-bottom: 15px;
  margin-top: 2px;
}

.menu-table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.menu-column-1 {
  width: 230px;
}

.menu-column-2,
.menu-column-3 {
  width: 80px;
}

.menu-column-3 {
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255,255,255, 0.1);
}

.menu-column-3:hover {
  background-color: $green;
  color: $background-primary-color;
  border-radius: 5px;
  cursor: pointer;
}


.open-bar-container {
  border-radius: 5px;
  border: 1px solid $golden-40;
  display: flex;
  height: 20px;
  justify-content: flex-start;
  position: absolute;
  top: 70px;
  width: 150px;
}

.open-bar {
  height: 100%;
  background-color: $golden;
  border-radius: 4px;
}

.service-history-cost {
  width: 80px;
}


@media only screen and (max-width: 912px) {
  .body-section-one {
    height: 85vh;
    z-index: 7;
   }

  .body-section-three {
   height: 15vh;
   z-index: 5;
   display: flex;
   justify-content: center;
  }

  .body-section-two__bodies {
    height: 80%;
  }

  .open-bar-container {
    margin-top: -25px;
  }

  .body-section-three__date-and-time {
    position: absolute;
    margin-top: 50px;
  }

  .body-section-two {
    padding-top: 0px;
  }
}


@media only screen and (max-width: 800px) {
  .logo {
    height: 200px;
    width: 320px;
  }

  .body-section-two__bodies {
    height: 78%;
  }

  .body-section-one__item-header {
    font-size: 15px;
  }

  .rooms-available,
  .totdays-total-income,
  .rooms-occupied-percentage {
    font-size: 66px;
  }

  .body-section-three__date-and-time {
    width: 218px;
    height: 30px;
  }
  .body-section-three__date,
  .body-section-three__time {
    font-size: 1em;
  }

  .open-bar-container {
    height: 10px;
    margin-top: -20px;
  }

  .rooms-occupied-percentage-sign,
  .totdays-total-income-dollar {
    font-size: 33px;
  }

  #selected-name {
    margin-top: 20px;
  }

 

  .rooms-general-info {
    overflow: scroll;
    display: block;
  }
}

@media only screen and (max-width: 615px) {
 
  .body-section-one-all-items {
    flex-direction: column;
  }

  .logo {
    height: 165px;
    width: 250px;
}

.rooms-available,
  .totdays-total-income,
  .rooms-occupied-percentage {
    font-size: 55px;
  }

  .rooms-occupied-percentage-sign,
  .totdays-total-income-dollar {
    font-size: 27.5px;
  }

  .body-section-one-all-items {
    margin-top: 4em;
  }

  .body-section-one-item {
    margin-bottom: 30px;
  }

  .content-body-search-add-container {
    width: 255px;
  }

  input[type="text"] {
    width: 185px;
  }

  .title {
    font-size: 16px;
    margin-top: 13px;
    padding: 5px;
  }

  #customers-body {
    padding-left: 0;
  }

  .body-section-two__headers {
    font-size: 14px;
  }

  .names-found,
  #customers-body-found-name {
    width: 255px;
  }
  #selected-name {
    margin-top: 20px;
}
  

}

// @media only screen and (max-width: 615px) { 

// }