*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid grey; */
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #322742;
  font-family: 'Roboto';
}

.wrapper {
  width: 1200px;
  margin: auto;
}

#game-area {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: 7px solid #F5CE17;
  border-radius: 30px;
  box-shadow: 0 0 0 3px #B3360E;
  background-color: #524348;
  color: lightgrey;
}

#user-area {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 15px;
  margin-right: 15px;
  grid-row-gap: 15px;
  border: 3px solid black;
  border-radius: 25px;
}

.player-info h3 {
  margin: 0 0 15px 0;
  font-size: 25px;
}

#player-1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

#player-1 {
  grid-row-start: 2;
  grid-row-end: 3;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-content: space-between;
}

button {
  height: 45px;
  font-size: 20px;
  border: 0;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

#start-game-btn {
  background-color: rgb(54, 182, 54);
}

#start-game-btn:hover {
  background-color: #98C379;
}

#new-game-btn {
  background-color: rgb(179, 49, 49);
}

#new-game-btn:hover {
  background-color: #E06B75;
}

.player-info {
  padding: 15px;
  background-color: #413538;
  border-radius: 3px;
}

.player-info>p {
  margin: 0;
  padding: 0;
}

#current-round {
  flex: 3;
  text-align: center;
  padding: 15px;
  border: 3px solid black;
  border-radius: 25px;
}

#question-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 15px;
}

#current-question {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #413538;
  font-weight: 400;
}

#current-round-total {
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
  background-color: #213DD8;
  border: 5px solid #F5CE17;
  border-radius: 10px;
}

h2,
h1 {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

#logo {
  height: 150px;
  margin-bottom: 15px;
}

#response-area {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.response-card,
#current-question,
button,
#guess-input {
  border-radius: 3px;
}

.response-container {
  position: relative;
}

.response-card,
.revealed-response {
  position: absolute;
  height: 60px;
  margin: 5px 0;
  text-align: center;
  background: linear-gradient(0deg, rgba(26, 63, 149, 1) 0%, rgba(105, 173, 237, 1) 100%);
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  border: 2px solid #D9E6EE;
  outline: 2px solid grey;
  outline-offset: -4px;
  align-items: center;
  width: 100%;
}

.response-card {
  z-index: 999;
}

.revealed-response {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 15px;
  /* justify-content: flex-start; */
}

.respondents {
  position: absolute;
  right: 0;
  margin: 0;
  border-left: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}

h4 {
  border: 1px solid #87969C;
  padding: 0 15px;
  border-radius: 100%;
  background-color: #172655;
}

#guess-input {
  width: 75%;
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
}