body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-rows: 10% 60% 5% 20% 5%;
  height: 1000px;
}
header {
  background-color: blue;
  grid-row: 1;
}

h1{
  color: #fff;
  font-size: 3.5em;
  margin: 5px auto;
  text-align: center;
}

main {
  grid-row: 2;
  align-content: center;
}

.board  {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 25% 25% 25% 25%;
  height: 90%;
  width: 90%;
  border: 2px solid black;
  text-align: center;
  margin: 30px auto;
}

h2 {
  color: #fff;
}

article {
  border: 2px black solid;
  background-color: gray;
}

h3 {
	color: #fff;
	font-size: 2.25em;
	margin: 25px 0;
}

#clue:hover {
  background-color: blue;
}

.round {
  grid-row: 3;
}

h4 {
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.players {
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

.player-one {
  grid-column: 1;
}

.player-two {
  grid-column: 2;
}

.player-three {
  grid-column: 3;
}

#players {
	 text-align: center;
	 margin-top: 20px;
}

label {
	font-size: 1.25em;
}
input {
	height: 20px;
	width: 65%;
}

h5 {
	font-size: 1.25em;
	margin: 10px 0;
}

h6 {
	font-size: 3.25em;
	margin: 10px 0;
}

footer {
  grid-row: 5;
  text-align: center;
}

button {
	height: 50px;
	width: 200px;
	margin: 20px;
	font-size: 1.5em;
}

button:hover {
	background-color: blue;
	color: #fff;
}


