/* This is an example of using Sass, otherwise plain CSS works too*/
$main-font: 'Fondamento', cursive;

html {
  background-color: black;
}

* {
  color: #666;
  font: 14px/24px "Fondamento", cursive;
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 80%;
  height: 100vh;
  grid-template-areas:
  "header header"
  "aside main"
  "aside main"
}

/*** Header ***/
.main__header{
  margin-bottom: 10px;
  border: 6px outset grey;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  grid-area: header;
  height: 100px;
  background-image: url(https://i.gifer.com/CDBO.gif);
  background-size: 100%;

  .main__header--h1 {
    font-size: 5em;
    color: red;
  }

  .main__header--customer {
    text-align: center;
    color: white;
    border: 6px outset grey;
    text-align: center;
    height: 75px;
    width: 125px;
    background-color: #888C8D;
  }

  .main__header--date {
    text-align: center;
    padding: auto;
    color: white;
    border: 6px outset grey;;
    height: 75px;
    width: 125px;
    display: flex;
    flex-direction: column;
    background-color: #888C8D;

      span {
        color: white;
      }
  }
}
/*** Aside ***/
.main__aside {
  margin-top: 25px;
  border: 6px outset grey;
  padding: 4%;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: #454545;

  .main__aside--h2 {
    color: red;
    font-size: 2em;
  }

  .header__add-customer {
    margin: 20px 10px 0 10px;
  }
}

/*** Main ***/
.main__section {
  margin-top: 20px;
  padding: 2%;
  grid-area: main;
  width: 95%;

  .main__section--tabs {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
}

.tab-active a {
  border: 6px outset grey;
  background: #888C8D; 
  border-bottom-color: transparent;
  color: black;
  cursor: default;
}

a {
  border: 6px outset grey;
  background: #888C8D; 
  color: white;
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

.section__display {
  color: white;
  background-color: #454545;
  border: 6px outset grey;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;

  p {
    color: white;
  }

  span {
    color: red;
  }
}

