* {
  box-sizing: border-box;
}

body {
  background-color: #0b1842;
  color: #35eff4;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

button {
  background: #35eff4;
  color: #0b1842;
}

h2 {
  margin: 0;
}

/*landing page*/
.landing-page {
  background-color: #AA73EF;
}

.main-title {
  color: #D9CEE6;
  display: inline-block;
  margin-left: 44vw;
}

.player-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
}

.player-label {
  color: #D9CEE6;
  border: none;
}

.start-button {
  margin-top: 10px;
  height: 20px;
  background-color: #E4DDED;
  border: none;
}

.start-button:hover {
  background-color: #8177CD;
}

/* Header Section Begins Here*/

header {
  background-color: #004bc4;
  display: flex;
  justify-content: space-between;
}

/* Main Section Begins Here*/

main {
  display: grid;
    grid-template-areas: 
      "play puzzle"
      "play category"
      "play feedback"
      "players players";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2.5fr .5fr 2fr .5fr;
}

/* Play Section Begins Here */

.round {
  padding-left: 10px;
}

.play {
  grid-area: play;
  display: grid;
  grid-template-rows: repeat(2, 1fr)
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.wheel {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-image: radial-gradient(#b651ff, #35eff4, #004bc4);
  border: dotted #b651ff 3px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.player-input, 
.play-button {
  height: 30px;
  border: none;
}
.player-input {
  width: 150px;
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
}

.play-button {
  width: 60px;
  border-radius: 0 10px 10px 0;
}

/* Puzzle Section Begins Here */

.puzzle {
  grid-area: puzzle;
}

.puzzle-letter {
  display: inline-block;
  height: 50px;
  width: 30px;
  margin: 5px;
  border-bottom: solid #fff 2px;
}

.no-border {
  border-bottom: none;
}

.hide {
  color: hsla(0, 0%, 0%, 0)
}

.category {
  grid-area: category;
}

/* Feedback Section Begins Here */

.feedback {
  grid-area: feedback;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.message,
.guessed-letters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-message,
.pop-up-letters {
  height: 80%;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
}

.pop-up-message {
  background-color: #b651ff;
  color: #004bc4;
}

.pop-up-letters {
  background-color: #fff;
  color: #004bc4;
  display: flex;
  flex-direction: row;
}

/* Players Section Begins Here */

.players {
  grid-area: players;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
}

.player {
  background-color: #004bc4;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 10px;
}

.current-player {
  background-color: pink;
}

.score-container {
  display: flex;
  justify-content: space-around;
}