
/** Global **/

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
/*  background-image: url("http://www.mansfieldct.org/Schools/MMS/staff/baxter/New%20Light%20Powerpoint_files/slide0001_background.gif");*/
  background-size: cover;
  background-color: #2c7ac9;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

input:focus,
button:focus {
  outline: none;
}

/** Name input **/
.input-fields {
  align-items: center;
  background-color: #B68DCD;
  color: #411b56;
  display: flex;
  flex-direction: column;
  height: 1000px;
  margin: 0;
  position: absolute;
  width: 100%;
  padding: 0;
}

.input-fields label {
  font-size: 24px;
  margin-right: 10px;
}

.input-fields input {
  background-color: #d8bee8;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  height: 30px;
  text-indent: 10px;
  width: 200px;
}

h1 {
  font-size: 300%;
}

.player-input {
  margin: 20px 0;
}

.play-btn {
  border: 0;
  border-radius: 20px;
  font-size: 14px;
  height: 40px;
  width: 25%;
  margin-top: 20px;
  opacity: .5;
}

.play-btn:hover {
  border: 0;
  background-color: #afddc1;
  color: #411b56;
  opacity: 1;
}


/** Gameboard **/
article {
  display: flex;
  align-items: center;
  flex-direction: column;
/*  padding-bottom: 40px;
*/}

h4 {
  color: #411b56;
  font-size: 36px;
  text-align: center;
  margin: 0 0 20px 0;
}

#reset-button {
  background-color: #d7bee8;
  border: 0;
  border-radius: 25px;
  color: #411b56;
  font-size: 14px;
  height: 30px;
  position: absolute;
  left: 88%;
  top: 40px;
}

#reset-button:hover {
  background-color: #e52256;
  border: 0;
  color: ;
}

table {
  background-color: #7e9ea8;
  border-radius: 10px;
  border-spacing: 10px;
  border-collapse: separate;
  color: #33658e;
  margin-bottom: 60px; 
}

table th {
  background-color: #7e9ea8;
  border-radius: 10px;
  font-size: 20px;
  height: 60px;
  width: 160px;
}

.clue-box {
  background-color: lightblue;
  border-radius: 10px;
  color: #ffe83d;
  font-size: 36px;
  font-weight: bold;
  height: 80px;
  text-align: center;
  width: 160px;
}

.available-box:hover {
  color: white;
  background-color: darkblue;
}

/** Podium **/
.podium-area {
  display: flex;
  justify-content: space-around;
}

.podium {
  font-size: 32px;
  width: 250px;
}

.avatar {
  background-color: #853c1e;
  border-radius: 25px 25px 0 0;
  height: 30px;
}

.score-box {
  background-color: black;
  border: 5px solid #853c1e;
  color: #ffe83d;
  padding: 0 14px;
  text-align: center;
  height: 50px;
}

.podium-base {
  border: 16px solid #853c1e;
  background-color: #26287a;
  color: white;
  height: 120px;
  text-align: center;
}

#playerName1 {
  font-family: 'Rock Salt', cursive;
}

#playerName2 {
  font-family: 'Homemade Apple', cursive;
}

#playerName3 {
  font-family: 'Gloria Hallelujah', cursive;
}


/** Global pop-up **/

.card-head {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 300%;
  margin: 40px 0;
  z-index: 1;
}

/** Question pop up **/

.question-card {
  display: none;
  z-index: 1;
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.question-card-content {
  align-items: center;
  background-color: beige;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: auto;
  width: 70%;
}

.category-reminder {
  display: inline-block;
}

#displayQuestion {
  margin: 0 20px 60px 20px;
}

.answer-btn {
  border-radius: 25px;
  height: 30px;
  margin-top: 30px;
  width: 120px;
}

/** Wager pop up **/

.daily-double-card {
  display: none;
  z-index: 1;
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.daily-double-card-content {
  align-items: center;
  background-color: beige;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: auto;
  width: 70%;
}

.daily-double-card-content header {
  margin-bottom: 30px;
}

.wager-btn {
  border-radius: 25px;
  height: 30px;
  margin-top: 30px;
  width: 120px;
}

.daily-double-card-content span {
  font-size: 32px;
  margin-bottom: 30px;
}

.daily-double-card-content p {
  margin-bottom: 30px;
}

/** Final Jeopardy! pop up **/

.final-jeopardy-wager {
  display: none;
  z-index: 1;
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.final-jeopardy-wager-content {
  align-items: center;
  background-color: beige;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: auto;
  width: 70%;
}

#displayPointVal {
  font-size: 65%;
}

/** Dom classes **/

.add-margin-top {
  margin-top: 30px;
}

.correct-feedback {
  color: lightgreen;
  font-size: 30px;
}

.incorrect-feedback {
  color: red;
  font-size: 30px;
}

.display-none {
  display: none;
}

.disabled {
  background-color: #7e9ea8;
  color: #7e9ea8;
}

/*.dollar {
  margin-left: 10px;
}*/
