.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 60px;
}

.puz-grid {
  text-align: center;
  background: white;
  border: 2px solid black;
  font-size: 50px;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-weight: 700;
}

.space {
  background-color: lightgray;
}
.top-row,
.btm-row,
.end  {
  background: rgb(93, 93, 100);
}


