body {
    background-color: #04192e;
    color: #cae6df; 
  }

.start-game-btn {
    background-color: #cae6df;
    border: none;
    color: black;
    padding: 10px;
}

.start-game-btn:hover {
  background-color: #064b55;
  border: none;
  color: #cae6df;
  cursor: pointer;
}

.player-name {
    padding: 5px 0 8px 10px;
    height: 40px;
}
.start-game-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.start-form {
    margin: 10px 0;
}