.game-area {
  grid-template-areas:
    ". logo ."
    ". survey ."
    ". input ."
    "player-one results player-two";
  grid-template-columns: 1fr 2.8fr 1fr;
  grid-template-rows: 1.3fr 1.1fr .85fr 470px;
}

.logo-holder {
  grid-area: logo;
}

.survery-box {
  grid-area: survey;
}

.user-input {
  grid-area: input;
}

.pb-one {
  grid-area: player-one;
}

.rb-holder {
  grid-area: results;
}

.pb-two {
  grid-area: player-two;
}

.result-box {
  display: grid;
  grid-template-areas: 
    "result-one result-one-num"
    "result-two result-two-num"
    "result-three result-three-num";
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr 1fr 1fr;
}

.result-one {
  grid-area: result-one;
}

.result-one-num {
  grid-area: result-one-num;
}

.result-two {
  grid-area: result-two;
}

.result-two-num {
  grid-area: result-two-num;
}

.result-three {
  grid-area: result-three;
}

.result-three-num {
  grid-area: result-three-num;
}