body {
  background: radial-gradient(circle, rgb(69, 159, 255) 0%, rgb(0, 255, 200) 100%);
  font-family: sans-serif;
}
button {
  color: black;
  background-color: white;
  border: solid 3px white;
  border-radius: 8px;
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 75px;
  width: 250px;
}

.login-button{
  margin-top: 3px;
  margin-left: 120px;
}

.hidden{
  display: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1200px;

}

.bookings-list{
  height: 1100px;
  width: 250px
}

.total-booking-cost {
  font-weight: bold;
  height: 50px;
  width: 250px;
}

.book-trip {
  height: 1100px;
  width: 250px;
}

.available-bookings {
  height: 900px;
  width: 50%
}

.dblclick-to-book {
  font-size: small;
  font-style: italic;
  font-weight: lighter;
}