/* * {
  border: 2px solid #ff0000;
} */

html {
  background-image: url('../images/travel-background.png');
  background-size: cover;
  background-position: fixed;
  font-family: 'Acme';
  font-size: 1vw;
}

/* body {

} */

header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffffd9;
  border-radius: 10px;
  margin: 1%;
}

.header-title {
  font-size: 3rem;
  margin: 1.5%;
}

.welcome-traveler {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  margin: 1.5%;

}

.account-login-button {
  background-color: transparent;
  border: none;
  font-family: 'Acme';
  font-size: 1.25rem;
  margin: 1.5%;
}

.account-login-button:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.75rem #000dff);
  cursor: pointer;
}

.adventure-welcome {
  display: flex;
  justify-content: center;
  background-color: #ffffffd9;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10%;
  margin-right: 30%;
  margin-bottom: 10%;
  margin-left: 30%;
  padding: 5%;;
}

.traveler-data-overview {
  display: flex;
  justify-content: center;
  background-color: #ffffffd9;
  border-radius: 10px;
  margin-top: 3%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  padding: 1%;
}

.title {
  background-color: #bababad2;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
}

.trips-container{
  display: flex;
}

.trips {
  margin: 1%;
  padding-left: 1%;
  padding-right: 1%;
  width: 20vw;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.spent-and-booking-container{
  display: flex;
  flex-direction: column;
}

.column {
  width: 30vw
}

.traveler-spent-overview {
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.trip-booking-form{
  padding-left: 1%;
  padding-right: 1%;
  height: 40vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000d1;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 2%;
  padding-bottom: 10%;
}

.image-card {
  border-radius: 10px;
  width: 15vw;
}

.location-name {
  font-size: 1rem;
}

.traveler-spent-breakdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.25rem;
}

.breakdown {
  display: flex;
  justify-content: space-between;
}

.lodging,
.flights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.lodging-spent,
.flights-spent,
.total-spent {
  font-size: 1.5rem;
}

.booking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-estimate {
  font-size: 2rem;
}

.hidden {
  display: none;
}