body {
  background-color: #304c9b;

}

h1 {
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  text-align: center;
}

.trip-sections-container {
  display: flex;
  justify-content: center;
}

.trip-type {
  width: 250px;
}