$lightBlue: rgba(0, 238, 255);
$medBlue: rgba(19, 165, 255);
$darkBlue: rgb(22, 42, 193);
$sand: rgb(245, 200, 163);
$white: rgb(231, 231, 231);
$navy: rgb(0, 0, 30);
$fontGreatVibes: "Great Vibes", cursive;
$fontCantanaOne: "Cantata One", serif;
$backgroundPicture: url("../images/vacation.png.jpg");

body {
  background-image: $backgroundPicture;
  background-size: cover;
  background-repeat: repeat-y;
}

.title {
  color: $navy;
  display: flex;
  flex-direction: row;
  margin: 1%;
}

#Overlook {
  font-family: $fontGreatVibes;
  font-size: 15vw;
  margin: 0;
  text-shadow: -0.1rem 0.1rem 0 $sand, 0.1rem 0.1rem 0 $sand,
    0.1rem -0.1rem 0 $sand, -0.1rem -0.1rem 0 $sand;
}

#The {
  font-family: $fontCantanaOne;
  font-size: 5vw;
  align-self: center;
  margin: 0;
  margin-bottom: 9%;
  text-shadow: -0.1rem 0.1rem 0 $sand, 0.1rem 0.1rem 0 $sand,
    0.1rem -0.1rem 0 $sand, -0.1rem -0.1rem 0 $sand;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-navigation {
  margin-left: 4rem;
}

button {
  padding: 1%;
  font-family: $fontCantanaOne;
  font-size: 1vw;
  height: auto;
  width: 15vw;
  border-radius: 0.25rem;
  background-color: $sand;
}

button:hover {
  cursor: pointer;
}

.sign-in {
  margin-right: 4%;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 90%;
}

.main-box {
  display: flex;
  min-height: 60vh;
  height: min-content;
  width: 90vw;
  border-radius: 0.6rem;
  background-image: linear-gradient($lightBlue, $sand);
  box-shadow: $navy 0 2.2rem 7rem 0.4rem;
  margin: 3%;
}

.welcome-normal {
  text-align: center;
  padding: 5%;
  padding-top: 8%;
  font-family: $fontCantanaOne;
  font-size: 10vw;
  color: $sand;
  margin: 0;
  text-shadow: -0.1rem 0.1rem 0 $navy, 0.1rem 0.1rem 0 $navy,
    0.1rem -0.1rem 0 $navy, -0.1rem -0.1rem 0 $navy;
}

.welcome-styling {
  align-self: center;
  text-align: center;
  font-family: $fontGreatVibes;
  background-image: linear-gradient(
    -225deg,
    $sand 0%,
    $white 10%,
    $lightBlue 20%,
    $medBlue 40%,
    $darkBlue 60%,
    $navy 70%,
    $lightBlue 80%,
    $white 90%,
    $sand 100%
  );
  background-size: 300% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: transition 15s linear infinite;
  display: inline-block;
  font-size: 15vw;
  margin: 0;
  padding: 5rem;
}

@keyframes transition {
  to {
    background-position: 200% center;
  }
}

.add-booking {
  display: flex;
  flex-direction: row;
}

.booking-results {
  width: 50vw;
}

/* form */
#survey-form {
  display: flex;
  flex-direction: column;
  border: 2px solid $navy;
  border-radius: 0.25rem;
  width: 40vw;
  background-color: $white;
  margin: 1%;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
}

.form-control {
  display: block;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: $navy;
  background-color: $white;
  background-clip: padding-box;
  border: 2px solid $navy;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.submit-button {
  background-color: $sand;
  color: $navy;
  align-self: center;
  margin-bottom: 1rem;
}
.submit-button:hover {
  cursor: pointer;
}

// Create new booking

#available-rooms {
  text-align: center;
}

.room-thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.single-room-thumbnail {
  justify-self: center;
  border: $navy solid 2px;
  background-color: $sand;
  width: min-content;
  padding: 2%;
  margin: 5%;
}

.single-room-img {
  height: 22vh;
  width: auto;
}

.try-again {
  color: rgb(154, 0, 0);
}

//My bookings

.manage-bookings {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

.user-booking {
  padding: 2%;
  border-radius: 1rem;
  background-color: $white;
  border: 2px solid $navy;
}

.hide {
  display: none;
}
