/* ///////////////////////// */
/* UNIVERSAL */
/* ///////////////////////// */

*,
*:after,
*:before {
  box-sizing: border-box;
}
html,body{         
  position:relative;
  margin:0;
  padding:0;
  color: navy;
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Orbitron', sans-serif; */
}

/* ///////////////////////// */
/* HEADING */
/* ///////////////////////// */
.header {
  text-align: center;
  grid-area: heading;
  background: cyan;
  font-family: 'Orbitron', sans-serif;
}



/* ///////////////////////// */
/* LETTERS */
/* ///////////////////////// */


html,body{  
position:relative;
margin:0;
padding:0;
color: navy;
font-family: 'Roboto Mono', monospace;
/* font-family: 'Orbitron', sans-serif; */
.letters {
  grid-area: letters;
  background: magenta;

}




/* ///////////////////////// */
/* GAME AREA */
/* ///////////////////////// */
.game-area {
  height: 90vh;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-auto-rows: 4fr 1fr 4fr;
  grid-template-areas: 
    "heading heading heading"
    "letters board board" 
    "players wheel wheel"
}

.hidden {
  display: none;
}


.game-board {
  grid-area: board;
  background: yellow;
}


.reset-game {
  float: right;
  margin: 2rem;
}

.clue-container {
  margin: 10px;
  font-size: 30px;
}

/* WHEEL SECTION -- seperate file? */
.wheel-section {
  grid-area: wheel;
  background: green;
}

/* ///////////////////////// */
/* PLAYER AREA */
/* ///////////////////////// */
.player-1 {
  grid-area: player1;
  background: lightskyblue;
}
.player-2 {
  grid-area: player2;
  background: orangered;
}
.player-3 {
  grid-area: player3;
  background: lightseagreen;
}

.player-area {
  grid-area: players;
  background: blue;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "round round round"
    "player1 player2 player3"
}
.current-round {
  grid-area: round;
  background: teal;
}

/* 
canvas{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
} */


h1 {
  margin: 10px 0 0 0;
  font-size: 70px;
}

.name-entry{
  width: 60%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}


.player-intro{
  display: inline-block;
}

.continue-button{
  display: block;
  height: 40px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 15px;

}

.continue-button:hover{
  background-color: black;
  color: white;
}

.player-icon{
    height: 120px;
}

.player-holder{
    height: 85px;
}

.player-square{
  margin-top: auto;
}

