body {
  background: #E69F00;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.header-container {
  display: flex;
  align-items:center;
  justify-content: space-between;
  height: 25vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}

.dashboard-nav {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 3%;
}

.button-section {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.logo { 
  height: 100%;
}

.sign-out-button {
  margin-right: 5%;
}

.dashboard-container {
  width: 90%;
	margin-top: 0;
  display: flex;
  flex-direction: row;
	justify-content: space-between;
  align-items: center;
}

.trips-container {
	border-radius: 5px;
	width: 70%;
	height: 350px;
	display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-top: 15px;
}

.total-spent-section {
  display: flex;
  border-radius: 5px;
  width: 25%;
  background-color: white;
  height: 6vh;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1%;
}

.trips-data-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.trip-row {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  border-radius: 5px;
  width: 95%;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #E69F00;
  box-sizing: border-box;
}

.trip-image {
  height: 15vh;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.new-trip-container {
  width: 14vw;
  align-items: flex-start;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.trip-estimate {
  height: 20px;
  width: 16vw;
}

.tripCostEstimateBox {
  height: 20px;
  width: 20vw;
}

.trip-button {
  margin-left: 3%;
  width: 11vw;
  border-radius: 5px;
  border: none;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.trip-card {
  display: flex;
  padding: 20px;
  flex-shrink: inherit;
}

input {
  margin-bottom: 10px;
  width: 16vw;
}