$lightBlue: rgba(64, 165, 185);
$sand: rgba(255, 231, 211);
$white: rgb(106, 106, 115);
$darkGreen: rgb(14, 32, 0);
$fontGreatVibes: "Great Vibes", cursive;
$fontCantanaOne: "Cantata One", serif;
$backgroundPicture: url("../images/vacation.png.jpg");

body {
  background-image: $backgroundPicture;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

#Overlook {
  font-family: $fontGreatVibes;
  font-size: 25vh;
  margin: 0;
  text-shadow: -1px 1px 0 $sand, 1px 1px 0 $sand, 1px -1px 0 $sand,
    -1px -1px 0 $sand;
}

#The {
  font-family: $fontCantanaOne;
  font-size: 9vh;
  align-self: center;
  margin: 0;
  margin-bottom: 9%;
  text-shadow: -1px 1px 0 $sand, 1px 1px 0 $sand, 1px -1px 0 $sand,
    -1px -1px 0 $sand;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-navigation {
  margin-left: 4%;
}

.sign-in {
  margin-right: 4%;
}

button {
  font-family: $fontCantanaOne;
  font-size: 2vh;
  height: 5vh;
  width: auto;
  border-radius: 0.25rem;
  background-color: $sand;
}

button:hover {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main-box {
  min-height: 60vh;
  height: min-content;
  width: 90vw;
  border-radius: 6px;
  background-image: linear-gradient($lightBlue, $sand);
  box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
  margin: 3%;
}

.add-booking {
  display: flex;
  flex-direction: row;
}

.booking-results {
  width: 50%;
}

/* form */
#survey-form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 0.25rem;
  width: 50%;
  background-color: $sand;
  margin: 1%;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0;
}

.form-control {
  display: block;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: black;
  background-color: $sand;
  background-clip: padding-box;
  border: 2px solid $white;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.submit-button {
  background-color: $darkGreen;
  color: $sand;
  align-self: center;
  margin-bottom: 1rem;
}
.submit-button:hover {
  cursor: pointer;
}

// Create new booking

#available-rooms {
  text-align: center;
}

.room-thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.single-room-thumbnail {
  justify-self: center;
  border: rgb(0, 0, 0) solid 2px;
  background-color: $sand;
  width: min-content;
  padding: 2%;
  margin: 5%;
}

.single-room-img {
  height: 22vh;
  width: auto;
}

//My bookings

.manage-bookings {
  padding: 1%;
}

.user-booking {
  margin: 1%;
  padding: 1%;
  border-radius: 1rem;
  width: 25%;
  background-color: $sand;
  border: 2px solid black;
}

.hide {
  display: none;
}
