* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #324851;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}


h1 {
  color: #FFF;
  font-family: 'Sniglet', cursive;
  text-align: center;
  font-size: 80px;
  letter-spacing: 5px;
} 

.quit-button {
  position: absolute;
  top: 25px;
  right: 75px;
}

.round-count {
  color: #80c69d;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.puzzle-container {
  display: flex;
  justify-content: center;
}

.category,
.hint {
  color: #6ab187;
  font-size: 40px;
  margin: 65px;
  text-align: center;
}

.consonant-letter-bank,
.vowel-letter-bank {
  color: #FFF;
  display: flex;
  font-size: 45px;
  justify-content: center;
  letter-spacing: 65px;
  padding: 10px;
}

.consonant-letter-bank {
  margin-bottom: 20px;
}

.vowel-letter-bank {
  margin-top: 20px;
}

.puzzle {
  border: 4px solid #7da3a1;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #808080;
  color: #FFF;
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: 500px;
  margin-bottom: 20px;
  width: 75em;
}

.answer-display {
  font-size: 45px;
  margin-top: 210px;
}

.letter {
  border-bottom: 2px solid #FFF;
  color: #324851;
  display: inline-block;
  margin: 20px;
  width: 25px;
}

.player-buttons-container {
display: flex;
justify-content: center;
}

.guess-input-container {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}

.vowel-container,
.cons-container {
    border-radius: 5px;
}

.vowel-label,
.cons-label {
  font-size: 30px;
  margin-right: 20px;
}

.vowel-container {
  margin-right: 100px;
}

.input {
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 24px;
  line-height: 41px;
  padding: 6px;
}

.submit {
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  font-size: 24px;
  margin-right: 20px;
  line-height: 50px;
  width: 100px;
}

.button {
  background-color: #34675c;
  border: #FFF 1.5px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  color: grey;
  cursor: pointer;
  font-size: 35px;
  margin: 20px;
  width: 200px;
  height: 100px;
 }

.popup {
  display: flex;
  justify-content: center;
}

 .question-popup {
  background: #FFF;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  height: 375px;
  width: 750px;
  margin-top: 100px;
  padding: 50px;
  position: absolute;
  text-align: center;
  z-index: 1;
 }

 .hidden {
  display: none;
}

.answer-message {
  font-size: 30px;
  color: black;
}

 .answer-submit {
  background-color: #34675c;
  color: black;
  font-size: 24px;
 }

 .answer-input {
  color: black;
 }

.message-container {
  color: #FFF;
  display: flex;
  justify-content: center;
  margin-left: 15px;
 }

 .gameplay-message {
    color: #7fffe6;
    font-size: 40px;
    margin: 60px;
 }

 .player-form {
  display: flex;
  justify-content: center;
  padding: 25px;
 }

.player-name-input {
  font-size: 24px;
   margin-top: 10px;
   line-height: 35px;
   padding: 5px;
   border-radius: 5px;
 }
 
 .player-box {
  border: #FFF 1.5px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  margin: 15px;
  padding: 20px;
  width: 400px;
  height: 175px
 }

 .score-label {
   margin-top: 10px;
 }

 .start-container {
   display: flex;
   justify-content: center;
 }

 .start-button {
   font-size: 60px;
   height: 200px;
   width: 740px;
   color: #FFF;
 }

 .start-button:hover {
   background-color: lightblue;
 }