.user-input {
  grid-area: input;
  margin: 0 auto;
}

.guess-input {
  font-size: 20px;
  padding: 5px;
  position: relative;
  top: 1.8px;
}

.wrong-guess,
.correct-guess {
  margin: 10px auto 0;
  text-align: center;
}

.wrong-guess{
  color: #B02418
}

.correct-guess{
  color: forestgreen
}