.multiplier-inputs {
  display: none;
}

#p1-multiplier-input,
#p2-multiplier-input {
  width: 50px;
}

.multiplier-inputs > *{
  font-size: 24px;
}

.multi-holder {
  display: inline-block;
  width: 49%;
}

.multi-holder > * {
  display: block;
  margin: 10px auto;
}