.survery-box {
  background-image: url("../../images/text-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.survey {
  color: white; 
  font-size: 22px;
  margin: 10px auto;
  text-align: center;
  width: 440px;
}